* {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #fff;
}

body::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #8f8e8e;
}

.box1 {
  height: 100vh;
  background-color: #9eb1589d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box2 {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
