body {
  margin: 0;
  overflow: hidden;
  /* background: rgb(20, 20, 20); */
}

img {
  width: 40%;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 200px;
  width: 200px;
  transform: translate(-50%, -50%);
}
